.awards {
  margin-bottom: 120px;
}

.title {
  margin-bottom: 48px;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
}

.info {
  display: grid;
  grid-template-columns: repeat(3, 363px);
  grid-template-rows: auto;
  column-gap: 118px;
  row-gap: 40px;
}
