.projects {
  padding-bottom: 120px;
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 52px;
  line-height: 135%;
  text-align: center;
  color: #0b0d20;
}
