NEXT_PUBLIC_API_URL=http://localhost:3000

NODE_ENV=development

NEXT_PUBLIC_APP_NAME=Cyberia Practice

NEXT_PUBLIC_IMAGE_HOSTNAMES=localhost
NEXT_PUBLIC_IMAGE_PROTOCOL=http
NEXT_PUBLIC_IMAGE_PORT=8000
