DEPLOYMENT_NAME=web-app
DEPLOYMENT_PROXY_PORT=8000
DEPLOYMENT_MYSQL_PORT=3308
DEPLOYMENT_REDIS_PORT=6379
APP_STORAGE_PATH="./storage"
COMPOSE_PROJECT_NAME=web-app

FRONTEND_URL=
SANCTUM_STATEFUL_DOMAINS=
SESSION_DOMAIN=

APP_NAME='Web App Backend'
APP_ENV=local
APP_KEY=base64:soSO5jC3qKSmMp+59F4z1/pYDUTsGWLsva+OvteBQVM=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=ru
XDEBUG_ENABLED=false

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=laravel_user
DB_PASSWORD=password

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

TELESCOPE_ENABLED=false

FEEDBACK_TARGET_EMAIL="example@example.com"

MAIL_MAILER=log
MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=SSL
MAIL_FROM_ADDRESS="example@example.com"
MAIL_FROM_NAME="${APP_NAME}"

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

RESPONSE_CACHE_ENABLED=false
RESPONSE_CACHE_DRIVER=redis
ASSET_URL=http://localhost:8000
