.logosWrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.track {
  padding-right: 68px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  gap: 68px;
  flex-shrink: 0;

  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
