.projects {
  margin-bottom: 120px;
}

.wrapper {
  display: flex;
  gap: 40px;
  margin-bottom: 70px;
}

.columnLeft,
.columnRight {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.columnRight {
  margin-top: 120px;
}

.title {
  margin-bottom: 20px;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 52px;
  line-height: 135%;
  text-align: center;
  color: #0b0d20;
}

.tags {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.tag {
  padding: 10px 0;
  border-radius: 32px;
  width: 100%;
  height: 40px;
  background-color: #edeeff;

  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 652px;
  gap: 24px;
}

.cardTop {
  padding: 21px 20px 0 21px;
  height: 412px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.raiting {
  border-radius: 100px;
  padding: 9px 12px 9px 9px;
  width: 259px;
  height: 48px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #0b0d20;
}

.link {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #2d41f9;
  display: flex;
  justify-content: center;
}

.cardBottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cardBottomTitle {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  color: #0b0d20;
}

.cardBottomSubtitle {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: #0b0d20;
}

.achievements {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.achievement {
  border-radius: 100px;
  padding: 9px;
  width: 48px;
  height: 48px;
  background: #fff;
}

.button {
  border-radius: 24px;
  padding: 9px 26px 9px 27px;
  width: 188px;
  height: 40px;
  background-color: #0b0d20;

  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;

  display: block;
  margin: 0 auto;
}
