.awards {
  margin-bottom: 120px;
}

.title {
  margin-bottom: 48px;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
}

.info {
  display: grid;
  grid-template-columns: repeat(3, 363px);
  grid-template-rows: auto;
  column-gap: 118px;
  row-gap: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.image {
  border-radius: 50px;
  padding: 17px 16px;
  width: 80px;
  height: 80px;
  background-color: #edeeff;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
  box-sizing: border-box;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.textTop {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #0b0d20;
}

.textBottom {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: #0b0d20;
}

.subText {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
}

.subText img {
  width: 24px;
  height: 24px;
}
