@use "@/shared/assets/styles/media" as *;

.social {
  display: flex;
  flex-direction: row;
  gap: 8px;

  @include laptop {
    display: none;
  }
}

.social img {
  cursor: pointer;
}

.dark {
  color: #000;
  fill: #000;
}

.white {
  color: #fff;
  fill: #fff;
}
