.projects {
  margin-bottom: 120px;
}

.columnRight {
  margin-top: 120px;
}

.title {
  margin-bottom: 20px;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 52px;
  line-height: 135%;
  text-align: center;
  color: #0b0d20;
}

.card {
  display: flex;
  flex-direction: column;
  width: 652px;
  gap: 24px;
}
