@use "@/shared/assets/styles/media" as *;

.header {
  padding: 30px 0;

  position: sticky;
  top: 0;

  z-index: 1000;
  font-family: var(--font-secondary);
  margin-bottom: 40px;

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-radius 0.3s ease,
    padding 0.3s ease;

  @include small {
    padding: 16px;
  }
}

.dark {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 1324px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}

.logo {
  cursor: pointer;
}
