.header {
  font-family: var(--font-secondary);
  margin-bottom: 40px;
}

.header,
.list,
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo,
.social img,
.list li {
  cursor: pointer;
}

.list {
  width: clamp(18.75rem, 12.892rem + 26.04vw, 34.438rem);
  list-style: none;
}

.list li {
  font-size: 14px;
  font-weight: 600;
}

.social {
  gap: 8px;
}
